= simple_form_for(@map) do |f|
  - if @map.errors.any?
    #error_explanation
      %h2
        = pluralize(@map.errors.count, "error")
        prohibited this from being saved:
      %ul
        - @map.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.input :name,:label=>'Name',:input_html => { :class => 'special' },:required => true
    %br/
  .field
    = f.input :catagory, :label=> 'Catagory',:required => true,:collection =>['beach','general','boat','temple','art','forest'] ,:prompt=>'historic',:input_html => { :class => 'specialSelect' },:required => true
    %br/
  .field
    = f.input :lng, :label => 'Latitude',:placeholder => '13.21682',:input_html => { :class => 'special' },:required => true
    %br/
  .field
    = f.input :lat,:label=> 'Longitude',:placeholder => '75.99149',:input_html => { :class => 'special' },:required => true
    %br/
  .field
    = f.input :desc,:label=>'Description',:input_html => { :class => 'special' }
    %br/
  .actions
    = f.button :submit,'Submit'