<!DOCTYPE html>
<html>
  <head>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
    
    <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false','jquery-1.6.min','jquery.bt.min','rails','application','jquery-ui-1.8.12.custom.min'%>
    <%= stylesheet_link_tag 'map','blueprint/liquid','jquery.bt','http://fonts.googleapis.com/css?family=Tangerine', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen' %> <![endif]-->
    <%= stylesheet_link_tag 'ui-darkness/jquery-ui-1.8.12.custom', :media => 'screen' %>
    <%= csrf_meta_tag %>
    <title>Tour Mate</title>
  </head>
  <body class="container">
  <div id="inital_map_head" class="span-24 last">
      
          Tour Mate 
         <div id="inital_map_head_sub">
            Help you to find your tour destinations
        </div>
      
      
  </div>
   <div class="column span-2">
      &nbsp;
   </div>  
  <div class="span-20 elevate" id="map_canvas" title="select starting point from the map"> 
  </div>
   <div class="span-2 last">
      &nbsp;
   </div>    
      
    <div class="column span-2">
      &nbsp;
   </div> 
   <div id="for_hide" class=" column span-10 elevate addColour">
      
          <div id="accordion" title="Select destination">

            <h3><a href="#">Historic Places</a></h3>
            <div>
		<%  @mapdata= Map.find(:all,:conditions=>"catagory='historic'") %>
                <%  @mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Dam Sites </a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='dam'") %>
                <%  mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Beaches</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='beach'") %>
                <%  mapdata.each do | c |  %>
                <p>  <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">General</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='general'") %>
                <%  mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Boat Ride</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='boat'") %>
                <%  mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Temples,Churches</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='temple'") %>
                <%  mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Art,Museum</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='art'") %>
                <%  mapdata.each do | c |  %>
                <p>  <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %> </p>
                <%  end %>
            </div>
            <h3><a href="#">Forest</a></h3>
            <div>
		<%  mapdata= Map.find(:all,:conditions=>"catagory='forest'") %>
                <%  mapdata.each do | c |  %>
                <p> <%= link_to "#{c.name}",'#',:class => 'my-link',:"data-lng"=> "#{c.lat}",:"data-lat"=> "#{c.lng}" %>  </p>
                <%  end %>
            </div>
        </div>
      </div>
  <div id="rightColumn" class=" column span-8 elevate addColour" >
    <div id="directionsPanel">
      
    </div>
    
  </div>
   <div class="span-2 last">
      &nbsp;
   </div>       
   <div class="column span-2">
      &nbsp;
   </div>        

  <div id="bottomStrip" class=" column span-20 foot elevate addColour">

     <div class="column span-4" id="feed">
      <a href="http://www.facebook.com/apps/application.php?id=210932928927426&sk=wall" target="_blank">Feed back</a>
    </div>

   <div id="shareButtons" class="column span-10">

              <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=klairvoyant"></script>
          <!-- AddThis Button END -->
    </div>
    <div id="klairvoyant" class="column span-6 last">
      <a href="http://klairvoyant.in">By Klairvoyant Infosolutions</a>
    </div>
  </div>
  <div class="column span-2 last">
      &nbsp;
   </div>         
</body>
</html>

